.git
.gitignore
Dockerfile
Dockerfile.armhf
.dockerignore
docker/
.coveragerc
.eggs
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
freqtrade.service
freqtrade.egg-info
.venv/

config.json*
*.sqlite
user_data/
!user_data/strategies/
!user_data/strategies/**
!user_data/configs/
!user_data/configs/**
!user_data/dashboard/
!user_data/dashboard/**
!user_data/docker/
!user_data/docker/**
*.log

.vscode
.mypy_cache
.ipynb_checkpoints
